<div class="w-50">
  <h5 class="fw-bold">Welcome to Cocobudget!</h5>
  <p class="pb-4">Cocobudget is a simple budgeting app that helps you keep track of your expenses and income.</p>
    <form>
      <!-- first name input-->
      <mat-form-field class="w-100 pb-4">
        <mat-label>Enter your first name</mat-label>
        <input
          matInput
          placeholder="John"
          [formControl]="firstName"
          (blur)="updateErrorMessages()"
          required
        />
        @if (firstName.invalid) {
          <mat-error>{{firstNameErrorMessage()}}</mat-error>
        }
      </mat-form-field>

    <!-- last name input-->
      <mat-form-field class="w-100 pb-4">
        <mat-label>Enter your last name</mat-label>
        <input
          matInput
          placeholder="Doe"
          [formControl]="lastName"
          (blur)="updateErrorMessages()"
          required
        />
        @if (lastName.invalid) {
          <mat-error>{{lastNameErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <button mat-flat-button class="w-100 bg-cta-blue" (click)="setupUser()">
        <span class="text-white">Complete your profile</span>
      </button>
    </form>
</div>
