<div class="d-flex p-4 no-gap">
  <!--title and description-->
  <div class="info-container">
    <h5 class="fw-bold">Create new folder</h5>
    <p>Folders group related expenses, like "Food" or "Housing." Inside, you can add categories like "Rent" or "Groceries" for detailed tracking.
      Create as many folders as needed to organize your budget.</p>
  </div>

  <!--folder creation form-->
  <div class="form-container p-3 bg-light main-shadow border-rounded">

    <!-- main form-->
    <form>
      <span>Add the name of your new folder</span>
      <mat-form-field class="w-100 pt-3 pb-3">
        <input
          matInput
          placeholder="Housing"
          [formControl]="name"
          (blur)="updateErrorMessages()"
          required
        />
        @if (name.invalid) {
          <mat-error>{{nameErrorMessage()}}</mat-error>
        }
      </mat-form-field>

      <div class="pb-1">
        <span>Set the color you want your folder to look like</span>
        <ngx-colors
          ngx-colors-trigger
          [(ngModel)]="color"
          acceptLabel="Select"
          cancelLabel="Cancel">
        </ngx-colors>
      </div>

      <div class="pt-4 user-select-none">
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                <span>Select an icon for your folder</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- icon chip options-->
            <mat-chip-listbox aria-label="Icon chips selection">
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">folder</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">account_balance_wallet</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">shopping_cart</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">home</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">directions_car</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">local_dining</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">attach_money</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">credit_card</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">work</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">local_offer</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">subscriptions</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">build</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">health_and_safety</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">travel_explore</mat-icon>
              </mat-chip-option>
              <mat-chip-option class="d-flex align-items-center justify-content-center">
                <mat-icon class="chip-icon-pt">event</mat-icon>
              </mat-chip-option>
            </mat-chip-listbox>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </form>
  </div>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Create</button>
</mat-dialog-actions>
